@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('/main/fonts/clash/ClashDisplay-Variable.woff2') format('woff2'),
         url('/main/fonts/clash/ClashDisplay-Variable.woff') format('woff'),
         url('/main/fonts/clash/ClashDisplay-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'CabinetGrotesk-Variable';
    src: url('/main/fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
         url('/main/fonts/CabinetGrotesk-Variable.woff') format('woff'),
         url('/main/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
         font-weight: 100 900;
         font-display: swap;
         font-style: normal;
  }
  html {
    font-family: CabinetGrotesk-Variable, system-ui, sans-serif;
  }
}
